<ion-header><page-header [header]="header_data"></page-header></ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let list of sellerList">
    <ion-item (click)="sellerproduct(list)">
      <ion-avatar item-start *ngIf="list.seller_profile_image != ''">
        <img  src="{{api_url}}/{{list.target}}/{{list.seller_profile_image}}" style="width: 63px;height: 63px;">
      </ion-avatar>
      <ion-avatar item-start *ngIf="list.seller_profile_image == ''">
        <img  src="../assets/user.png" style="width: 63px;height: 55px;">
      </ion-avatar>
      <h4 style="font-weight:bolder">{{list.seller_name}}</h4>
      <h6>{{list.seller_address}}</h6>
      <!--<p>I've had a pretty messed up day. If we just...</p>-->
      
    </ion-item>
  </ion-card>
  <!--<ion-list>
    <ion-item *ngFor="let list of sellerList">
      <ion-row (click)="sellerproduct(list)">
          <div class="col-xs-12 col-sm-2 col-md-2" *ngIf="list.seller_profile_image != ''">
            <img height="70em"  width="100em" src="{{api_url}}/{{list.target}}/{{list.seller_profile_image}}" class="img-responsive img-box img-thumbnail"> 
          </div> 
          <div class="col-xs-12 col-sm-2 col-md-2" *ngIf="list.seller_profile_image == ''">
            <img height="70em"  width="100em" class="user-avatar" src="../assets/user.png" class="img-responsive img-box img-thumbnail"> 
          </div> 
          <div class="col-xs-12 col-sm-9 col-md-9">
            <ion-row style="text-decoration:none !important">
              <ion-col class="col-xs-12 col-sm-3 col-md-3">
                <img height="50em" title="sintret" width="50em" class="circle img-thumbnail img-box" src="{{api_url}}/{{list.target}}/{{list.seller_image}}" alt="{{list.seller_name}}">
              </ion-col>
              <ion-col class="col-xs-12 col-sm-9 col-md-9">
                <div>
                  <h4 style="font-weight:bolder">{{list.seller_name}} | <span *ngIf="list.seller_status == 1" style="color: green">online</span><span *ngIf="list.seller_status == 0" style="color: red">offline</span></h4>
                </div>
                <div>
                  <small>xyz</small>
                </div>          
              </ion-col>
            </ion-row>
            
          </div>
          
        </ion-row>
      </ion-item>
  </ion-list>-->
</ion-content>
<ion-footer style="height: 50px;">
</ion-footer>



