<ion-header><page-header [header]="header_data"></page-header></ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <span *ngIf="sellerproductList != undefined && sellerproductList.length != 0">
  <ion-card [ngClass]="(item.p_type_of_food=='Veg')?'ion-card-veg':'ion-card-n'" *ngFor="let item of sellerproductList; let i = index" >
      <ion-item>
        <ion-avatar item-start (click)="productdetail(item)">
          <img  src="{{api_url}}/{{item.target}}/{{item.p_image}}" style="width: 63px;height: 63px;">
        </ion-avatar>
        <h4 style="font-weight:bolder">{{item.p_name}} | <span *ngIf="item.p_status == 'active'" style="color: green">online</span><span *ngIf="item.p_status == 'deactive'" style="color: red">offline</span></h4>
        <h3><i class="fa fa-rupee"></i>{{item.p_price}}</h3>
        <p>I've had a pretty messed up day. If we just...</p>
        <ion-avatar item-end>
          <button ion-button clear (click)="addToCart(item, i)">
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          </button>
        </ion-avatar>
      </ion-item>
    </ion-card>
  </span>
  <span *ngIf="sellerproductList != undefined && sellerproductList.length == 0">
    <ion-card class="no-data">
      NO DATA
    </ion-card>
  </span>
  <!--<ion-list>
    <ion-item *ngFor="let item of sellerproductList; let i = index">
      <ion-row>
          <div class="col-xs-12 col-sm-2 col-md-2" (click)="productdetail(item)">
              <img height="90em"  width="100em"  src="{{api_url}}/{{item.target}}/{{item.p_image}}" class="img-responsive img-box img-thumbnail"> 
          </div> 
          <div class="col-xs-12 col-sm-9 col-md-9">
            <ion-row style="text-decoration:none !important">
              <ion-col class="col-xs-12 col-sm-9 col-md-9">
                <div>
                  <h4 style="font-weight:bolder">{{item.p_name}} | <span *ngIf="item.p_status == 'active'" style="color: green">online</span><span *ngIf="item.p_status == 'deactive'" style="color: red">offline</span></h4>
                </div>
                <div style="width: 1em;">
                  <small >{{item.p_type_of_food}}</small>
                </div>
              </ion-col>
            </ion-row>
            <div>
              <button style="width: 1em; height: 2em" [hidden] = item.flag (click)="addToCart(item, i)" ion-button icon-left>
                <ion-icon name="cart"></ion-icon>
              </button>
              <button style="width: 1em; height: 2em" [hidden] = !item.flag (click)="addcount(item)" ion-button icon-left>
                <ion-icon name="add"></ion-icon>
              </button>
              <button style="width: 1em; height: 2em" *ngIf="item.quantityInCart" color="light" ion-button>
                {{item.quantityInCart}}
              </button>
              <button style="width: 1em; height: 2em" [hidden] = !item.flag (click)="removecount(item, i)" ion-button icon-left>
                <ion-icon name="remove"></ion-icon>
              </button>
            </div>
          </div>
        </ion-row>
      </ion-item>
  </ion-list>-->
  
</ion-content>




