<ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
        <button (click)="checkout()" *ngIf="header.itemsInCart != '0'" ion-button icon-only>
            <ion-badge>{{header.itemsInCart}}</ion-badge>
            <ion-icon name="cart"></ion-icon>
        </button>   
        <button ion-button icon-only (click)="home()" *ngIf="header.title !='Home'">
            <ion-icon name="home"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{header.title}}</ion-title>
</ion-navbar>